.category-content-wrapper {
 background-color: var(--bs-body-bg);
}

.nav-tabs {
  border-bottom: 2px solid #dee2e6;
  
  .nav-link {
    border: none;
    color: #6c757d;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    
    &:hover {
      border: none;
      color: #495057;
    }
    
    &.active {
      color: #0d6efd;
      font-weight: 500;
      border: none;
      border-bottom: 2px solid #0d6efd;
      margin-bottom: -2px;
    }
  }
}

.card {
  transition: transform 0.2s ease-in-out;
  
  &:hover {
    transform: translateY(-5px);
  }
}

.cursor-pointer {
  cursor: pointer;
}